<html>
<head>
    <titel></titel>
</head>
<body>
<div class="panel">
    <div class="panel-body">
        <p>To activate your account of linkshear click
            <a href="http://localhost:8080/linkshear/customer/activateUser?token=${token}">here</a></p>
    </div>
</div>
</body>
</html>