<%--
  Created by IntelliJ IDEA.
  User: arif
  Date: 21/7/17
  Time: 5:16 PM
--%>

<%@ page contentType="text/html;charset=UTF-8" %>
<html>
<head>
    <title>Link Expired</title>
    <meta name="layout" content="link_normal"/>
</head>

<body>
<h2 style="text-align: center">the link must have expired or used before, request for a new link.</h2>
</body>
</html>